<nav>
    <ul>
        <li><a routerLink="/calculator" routerLinkActive="active">Calculator</a></li>
        <li><a routerLink="/users/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/users/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/lifecycle-hooks" routerLinkActive="active">Lifecycle Hooks</a></li>
        <li><a routerLink="/live-counter" routerLinkActive="active">Live Counter</a></li>
        <li><a routerLink="/light-switch" routerLinkActive="active">Light Switch</a></li>
    </ul>
</nav>